@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.row{ margin-right: 0px; }

body {
    font-family: Roboto, serif;
	height: auto;
	padding: 0px;
}

.main-div{
	min-height: 100vh;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
	display: grid;
	grid-template-rows: 120px;
}
	
header {
    display: flex;
	align-items: center;
	height: 120px;
    background-color: #6B2E3E;
    font-size: 1.5em;
}
.logo-image{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 20px;
}
.grid-header-buttons{
	display: grid;
	/*Теперь задаём значения элементов внутри него*/
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 31px; /*расстояние между колонками grid-row-gap; grid-gap*/
	position: absolute;
	right: 20px;
}
.grid-header-buttons .header-link{
	display: block;
	width: 178px;
	height: 66.3px;
	line-height: 66.3px;
	border-radius: 66.3px;
	background-color: #FACFB4;
	text-align: center;
	color: #6B2E3E;
}



section{
	background: linear-gradient(#FACFB4, #FDF8F0);
	display: grid;
	justify-content: center;
	text-align: center;
}
section .center-div{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	width: 2300px;
	padding-top: 100px;
	color: #3d3d3d;
}
section img{
	width: 100%;
	height: auto;
	object-fit: contain; /*шоб не искажало*/
}


.center-text h1{
	font-size: 6.5em;
	margin: 0;
	margin-bottom: 0.4em;
}
.center-text h2{
	font-size: 3em;
}
.center-text h3{
	font-size: 2.7em;
}
.center-text h4{
	font-size: 2em;
}
.center-text .buttons{
	display: flex;
	justify-content: center;
	gap: 10px; /*Расстояние между объектами*/	
}

.center-text .first-button{
	display: inline-block;
	background: #6B2E3E;
	border-radius: 50px;
	width: 310.55px;
	height: 84px;
	line-height: 84px;
	font-size: 2em;
	color: #FDF8F0;

}
.center-text .second-button{
	display: inline-block;
	border: 3px solid #6B2E3E;
	border-radius: 50px;
	box-sizing: border-box;
	width: 406px;
	height: 84px;
	line-height: 78px;
	font-size: 2em; /*обводка 2 раза по 3 пикселя хавает*/
	color: #6B2E3E;
	
}

.last-videos{
	display: flex;
	justify-content: center;
	gap: 14px;
}
.video-card{
	width: 328px;
	height: 181px;
	background: #FACFB4;
	border-radius: 50px;
	
	font-size: 1.5em;
	text-decoration: none;
}
.video-card img{
	width: 164px;
	height: 92px;
	width: auto;
	border-radius: 10px;
	margin-top: 13px;
}
.video-card p{
	margin: 0;
	color: #3d3d3d;
	/*margin-top: 3px;*/
}

footer {    
	margin-left: -22px; 
	margin-top: 0 px;
	padding-left: 50px;
	padding-top: 35px;
	padding-bottom: 16px;
	background: #6B2E3E;
	color: #FDF8F0;
}

footer a{
	color: #FDF8F0;
}
footer h2{
	padding-left: 40px;
}

/*
section {       
    margin-top: 10px;
    border-top-style: solid;
    border-width: 5px;
    border-color: #500b0b;
}*/




/*
@media (max-width: 905px){
.emptys{
    display: none;
}
}

@media (max-width: 1000px){
.media-links{
    display: flex;
    justify-content: center;
}
header{
    height: 150px;
}
}

@media (max-width: 650px){
footer{
    margin-top: 15rem;
}
header{
    height: 200px;
}
header h1{
    white-space: pre-wrap;
}
}


@media (max-width: 375px){
.media-links ol{
        white-space: nowrap;
        flex-wrap: nowrap;
        content: var(--bs-breadcrumb-divider, "&nbsp;");
}
}
